@import '@src/styles/functions';

.root {
  z-index: 4;
  position: fixed;
  right: var(--layout-margin);
  bottom: var(--layout-margin);
  width: 4vw;
  height: 4vw;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 0.32vw 0.52vw #0000000a,
    0 0.12vw 0.22vw #0000000a;

  @include mobile {
    width: 11vw;
    height: 11vw;
  }

  .icon {
    width: 1.5vw;
    height: 1.5vw;
    pointer-events: none;

    @include mobile {
      width: 4.5vw;
      height: 4.5vw;
    }
  }
}
